### Introduction Of Python Programming

In [3]:
# Variable Defination
number = 1000          # Defining Integer Variable
decimal = 1000.890     # Defining Float Variable

string = 'Hello World' # Definig String: "Text Information"

'''
Data types in python are as follow:
Integer 
Float
String
'''

# Checking Datatypes of Variables
print(type(number))
print(type(decimal))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [1]:
# Type casting og Data type

num = 100.2908383             # Datatype : Float

print(int(num))               # Float is typecasted to int

100

In [4]:
# Using input function
# inut()   :---> Function
num = input('Enter the Value: ')

'''
Where we use input function, the output of input function is always string 
'''

print(type(num))         

# Doing Typecasting
print(int(num))        # Typecasting String value to integer
print(float(num))      # Typecasting String value to float

Enter the Value:  1000

<class 'str'>
1000
1000.0

In [3]:
# Ask the users to enter the string using input function

str = input('Enter the name of the person: ')
print(type(str))

Enter the name of the person:  Rohit Sharma

<class 'str'>

In [2]:
# Perform Mathmatical Operations

num1 = float(input('Enter the First Number: '))
num2 = float(input('Enter the First Number: '))

num3 = num1 + num2


# Using fstring method (format string)

print(f'The addition of two numbers as {num1} and {num2} is ',num3)       # First Method

# Using Variable Method

print(f'The addition of two numbers as num1 and num2 is ',num3)           # Second Method

The addition of two numbers as 10.0 and 20.0 is  30.0
The addition of two numbers as num1 and num2 is  30.0

In [3]:
# String Indexing and Slicing

string = input('Enter the String: ')

''' 
H e l l o   w o r l d
0 1 2 3 4 5 6 7 8 9 10  : left > Right
..............-3 -2 -1  : right > Left

'''

print(string[6])      # Indexing
print(string[-5])     # Indexing

w
w

In [5]:
# Concept of Slicing
string = input('Enter the String: ')

''' 
string[Start:Stop]
Example:
string = Hello Word
string[1:4]  --->  o/p:--> ell

'''

print(string[1:4])
print(string[:-1])
print(string[2:-2])
print(string[4:-1])

ell
Hello Worl
llo Wor
o Worl

In [6]:

# Concept of Slicing
string = input('Enter the String: ')

''' 
string[Start:Stop:Step]
Example:
string = Hello Word
string[1::2]  --->  o/p:--> el

'''
print(string[1::2])

el ol

In [7]:
# Concept of Indexing and Slicing Together

str = 'Hello welcome to the world of python programming'

print(str[::2])
print(str[4:-2:])
print(str[::-1])
print(str[:-2:1])

Hlowloet h ol fpto rgamn
o welcome to the world of python programmi
gnimmargorp nohtyp fo dlrow eht ot emoclew olleH
Hello welcome to the world of python programmi

In [ ]:
# Data Structures in Python programming

''' 
1. List          : []                          :Mutable in Nature    
2. Tuple         : ()                          :Immutable in Nature
3. Dictionary    : {'key1':Value, 'key2':Value}:Immutable in Nature
4. Sets          : {1,2,3,4,5}                 :immutable in Nature

If you are performing any computaionat opration or soft development tuple is preffered compared to list.
Because tuple Immutable in nature  It perform fast operations 
'''

# List Definition

lst = [10,20,30,40,50]

print(lst)
print(type(lst))

# lst (list)
# append() this is function which define in class list
# Therefore, append() is a method of class list 
# lst.append(50) : You are calling function using .operator
lst .append(50)   # this function add the value 50 at the end of the array
print(lst)

[10, 20, 30, 40, 50]
<class 'list'>
[10, 20, 30, 40, 50, 50]

In [ ]:
lst.insert (0,5)       # This function will add the value 5 at an index 0
print(lst)

[5, 10, 20, 30, 40, 50, 50]

In [6]:
lst.count(10)

1

In [ ]:
lst.pop()    # this function will remove the last number present in the list

50

In [8]:
print(lst)

[5, 10, 20, 30, 40, 50]

In [10]:
lst.pop()

50

In [11]:
print(lst)

[5, 10, 20, 30, 40]

In [ ]:
lst.remove(10)   # this function will remove the specified value
print(lst)

[5, 20, 30, 40]

In [13]:
lst = [10,10,10,20,30,30,20,40,20,60]
lst.pop()
lst.remove(10)
lst.remove(20)
lst.remove(20)
print(lst)

[10, 10, 30, 30, 40, 20]

In [14]:
# Calculate lenght of the numbers present in list
# len() : function
print(len(lst))

6

In [17]:
# Concept of Indexing and Slicing on list
lst = [10,20,30,40,50,60]
print(lst[0::2])
print(lst[::-1])
print(lst[2])

[10, 30, 50]
[60, 50, 40, 30, 20, 10]
30

In [20]:
# Example 1

lst =[10,20,30,[40,50,60],[1,[2,[3,4,5,6],7],8,9],10]

In [21]:
# o/p : 5
lst[4][1][1][2]

5

In [22]:
# Example 2

lst = [10,20,[1,2,3,[10,20,[30,[40,50,[60],70],90],9,100],1000],2000,[10000]]

In [23]:
# o/p : 60
lst[2][3][2][1][2][0]

60

In [25]:
# Example 3
# o/p : 600

lst = [10,[100,200,300,[400,[500,[[[600],700],1],10],20]]]

lst[1][3][1][1][0][0][0]

600

In [2]:
# Example 4
# o/p : [800,900,1000]

lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]

lst[1][3][1][1][0][0][2:5]

[800, 900, 1000]

In [8]:
# Tuple Defination 

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [3]:
# tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [4]:
# Example
# o/p : 70,80
tup[3][2][2][1:]

(70, 80)

In [6]:
# Condition Statement
''' 
if condition==True
  perform operation inside the loop
  Else:
  Note := : Assignment Operater
        == : comparison operator 
        
'''

num = 10

if num == 10:
     print('The value is 10')
else:
     print('The value is Other than 10')

The value is 10

In [7]:
# Check the given string is palindrom or not

text = 'dad'
text1 = text[::-1]

if text == text1 :
    print('The given string is palindrom ')
else:
    print('The given string is Not palindrom')

The given string is palindrom

In [ ]:
''' 
if condition:
    statement
elif condition:
    statement
else:
    statement
'''

In [9]:
'''  
marks > 80 : Best Student
Marks between 60 to 79 : Good Student
Marks between 50 to 59 : Average Student
Marks< 49 : Poor Student

'''

marks = float (input('Enter Marks  of the Student:'))

if (marks > 80):
    print('Best Student')
elif (marks < 80 and marks > 60):
    print('Good Student')
elif (marks < 60 and marks > 50):
    print('Average Student')
else:
    print('Poor Student')

Good Student

In [13]:
'''  
balance = 10000
withdraw = amount 
threshould = 2000

'''
balance = 10000
withdraw = float(input("Enter amount to withdraw: "))
threshold = 2000

if withdraw >= balance:
    print('Insufficient Balance')
if withdraw <= balance:
    new_balance = balance - withdraw
    if new_balance >= 2000:
        print('New Balance is', new_balance)
    else :
        print('Check your transaction, Once Again')

Check your transaction, Once Again

In [15]:
# For loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [23]:
''' 
*
* * 
* * *
* * * * 
* * * * *
'''
for i in range(1,6):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [25]:
for i in range(1,6):
    print('* '*i*i)

*
* * * *
* * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [3]:
for i in range(1,6):
    print('* '*i**2)

*
* * * *
* * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [5]:
''' 
rang (Start,stop,step)
'''

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [6]:
# Using while loop

num = 5
count = 0
while count <=num:
    print(count)
    count = count + 1

0
1
2
3
4
5

In [7]:
# Using while loop

num = 5
i = 0
while i <=num:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [9]:
num = 10
count = 0
while count <= num:
    if count%2 == 0:
        print(count)
    count = count + 1

0
2
4
6
8
10

In [10]:
for i in range(0,20,2):
    pass
    print(i)

0
2
4
6
8
10
12
14
16
18

In [11]:
for i in range(0,20,2):
    continue
    print(i)

In [ ]:
for i in range(0,20,2):
    break
    print(i)

In [12]:
for i in range(0,15):
    if i<=5:
        print(i)
    pass

0
1
2
3
4
5

In [13]:
for i in range(0,15):
    if i<=5:
        print(i)
    continue

0
1
2
3
4
5

In [14]:
for i in range(0,15):
    if i<=5:
        print(i)
    break

0

In [18]:
for i in range(0,15):
    if i<=5:
        print(i)
    pass
    break

0

In [19]:
for i in range(0,15):
    if i<=5:
        print(i)
    break
    continue

0

In [20]:
for i in range(0,15):
    if i<=5:
        print(i)
    break
    pass

0

In [22]:
for i in range(0,10):
    for j in range(10,20):
        print(i)
        print(j)

0
10
0
11
0
12
0
13
0
14
0
15
0
16
0
17
0
18
0
19
1
10
1
11
1
12
1
13
1
14
1
15
1
16
1
17
1
18
1
19
2
10
2
11
2
12
2
13
2
14
2
15
2
16
2
17
2
18
2
19
3
10
3
11
3
12
3
13
3
14
3
15
3
16
3
17
3
18
3
19
4
10
4
11
4
12
4
13
4
14
4
15
4
16
4
17
4
18
4
19
5
10
5
11
5
12
5
13
5
14
5
15
5
16
5
17
5
18
5
19
6
10
6
11
6
12
6
13
6
14
6
15
6
16
6
17
6
18
6
19
7
10
7
11
7
12
7
13
7
14
7
15
7
16
7
17
7
18
7
19
8
10
8
11
8
12
8
13
8
14
8
15
8
16
8
17
8
18
8
19
9
10
9
11
9
12
9
13
9
14
9
15
9
16
9
17
9
18
9
19

In [1]:
''' 
num1
num2
choice = +,-,*,/

num1 =
num2 =
choice =

if choice == '+':
   addition
if choice == '-':
   substraction

else:
   check the entered choice

'''

num1 = float(input('Enter the num1: '))
num2 = float(input('Enter the num2: '))
choice = input('Select operator +,-,*,/: ')

if choice =='+':
   num3 = num1+num2
   print(f'Addition of {num1} and {num2}:',num3)

elif choice == '-':
   num3 = num1-num2
   print(f'Substraction of {num1} and {num2}:',num3)

else:
   print('Check the entered choice')

Check the entered choice

In [4]:
# for loop
list = []
for i in range(0,10):
    list.append(i*i)
    print(list)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# List Comprehnsion
# variable = [expression for count in range(x1,x2)]
square = [i*i for i in range(0,10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
odd = [i%2 == 1 for i in range(0,10)]
odd

[False, True, False, True, False, True, False, True, False, True]

In [12]:
square = [i**2 for i in range(0,10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
lst = ['Aniket','Parag','Ajay','Tanvi','Mihir','Nikhil']
new_list = [lst.upper() for lst in lst]
new_list

['ANIKET', 'PARAG', 'AJAY', 'TANVI', 'MIHIR', 'NIKHIL']

In [15]:
new_list = [lst.lower() for lst in lst]
new_list

['aniket', 'parag', 'ajay', 'tanvi', 'mihir', 'nikhil']

In [16]:
new_list = [len(lst) for lst in lst ]
new_list

[6, 5, 4, 5, 5, 6]

In [20]:
new_list = sum(len(lst) for lst in lst)
new_list

31

In [21]:
new_list = min(len(lst) for lst in lst)
new_list

4

In [22]:
new_list = max(len(lst) for lst in lst)
new_list

6

In [23]:
# logic: 0 2 4 6 8 :  sum : 20
n = sum([x for x in range(0,10) if x % 2 == 0])
n

20

In [27]:
# logic: 0 1 3 5 7 9 :  sum : 25
n = sum([x for x in range(0,10) if x % 2 != 0])
n

25

In [30]:
# 5! = 5*4*3*2*1* ---> 120
import math
math.factorial(5)

120

In [32]:
# Square root
print(5**0.5)
print(math.sqrt(5))

2.23606797749979
2.23606797749979

In [36]:
# Power function
math.pow(2,2)

4.0

In [37]:
math.pow(2,5)

32.0

In [34]:
math.pow(5,5)

3125.0

In [38]:
print(math.log10(5))

0.6989700043360189