### Introduction Of Python Programming

In [3]:
# Variable Defination
number = 1000          # Defining Integer Variable
decimal = 1000.890     # Defining Float Variable

string = 'Hello World' # Definig String: "Text Information"

'''
Data types in python are as follow:
Integer 
Float
String
'''

# Checking Datatypes of Variables
print(type(number))
print(type(decimal))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [1]:
# Type casting og Data type

num = 100.2908383             # Datatype : Float

print(int(num))               # Float is typecasted to int

100

In [4]:
# Using input function
# inut()   :---> Function
num = input('Enter the Value: ')

'''
Where we use input function, the output of input function is always string 
'''

print(type(num))         

# Doing Typecasting
print(int(num))        # Typecasting String value to integer
print(float(num))      # Typecasting String value to float

Enter the Value:  1000

<class 'str'>
1000
1000.0

In [3]:
# Ask the users to enter the string using input function

str = input('Enter the name of the person: ')
print(type(str))

Enter the name of the person:  Rohit Sharma

<class 'str'>

In [2]:
# Perform Mathmatical Operations

num1 = float(input('Enter the First Number: '))
num2 = float(input('Enter the First Number: '))

num3 = num1 + num2


# Using fstring method (format string)

print(f'The addition of two numbers as {num1} and {num2} is ',num3)       # First Method

# Using Variable Method

print(f'The addition of two numbers as num1 and num2 is ',num3)           # Second Method

The addition of two numbers as 10.0 and 20.0 is  30.0
The addition of two numbers as num1 and num2 is  30.0

In [3]:
# String Indexing and Slicing

string = input('Enter the String: ')

''' 
H e l l o   w o r l d
0 1 2 3 4 5 6 7 8 9 10  : left > Right
..............-3 -2 -1  : right > Left

'''

print(string[6])      # Indexing
print(string[-5])     # Indexing

w
w

In [5]:
# Concept of Slicing
string = input('Enter the String: ')

''' 
string[Start:Stop]
Example:
string = Hello Word
string[1:4]  --->  o/p:--> ell

'''

print(string[1:4])
print(string[:-1])
print(string[2:-2])
print(string[4:-1])

ell
Hello Worl
llo Wor
o Worl

In [6]:

# Concept of Slicing
string = input('Enter the String: ')

''' 
string[Start:Stop:Step]
Example:
string = Hello Word
string[1::2]  --->  o/p:--> el

'''
print(string[1::2])

el ol

In [7]:
# Concept of Indexing and Slicing Together

str = 'Hello welcome to the world of python programming'

print(str[::2])
print(str[4:-2:])
print(str[::-1])
print(str[:-2:1])

Hlowloet h ol fpto rgamn
o welcome to the world of python programmi
gnimmargorp nohtyp fo dlrow eht ot emoclew olleH
Hello welcome to the world of python programmi

In [ ]:
# Data Structures in Python programming

''' 
1. List          : []                          :Mutable in Nature    
2. Tuple         : ()                          :Immutable in Nature
3. Dictionary    : {'key1':Value, 'key2':Value}:Immutable in Nature
4. Sets          : {1,2,3,4,5}                 :immutable in Nature

If you are performing any computaionat opration or soft development tuple is preffered compared to list.
Because tuple Immutable in nature  It perform fast operations 
'''

# List Definition

lst = [10,20,30,40,50]

print(lst)
print(type(lst))

# lst (list)
# append() this is function which define in class list
# Therefore, append() is a method of class list 
# lst.append(50) : You are calling function using .operator
lst .append(50)   # this function add the value 50 at the end of the array
print(lst)

[10, 20, 30, 40, 50]
<class 'list'>
[10, 20, 30, 40, 50, 50]

In [ ]:
lst.insert (0,5)       # This function will add the value 5 at an index 0
print(lst)

[5, 10, 20, 30, 40, 50, 50]

In [6]:
lst.count(10)

1

In [ ]:
lst.pop()    # this function will remove the last number present in the list

50

In [8]:
print(lst)

[5, 10, 20, 30, 40, 50]

In [10]:
lst.pop()

50

In [11]:
print(lst)

[5, 10, 20, 30, 40]

In [ ]:
lst.remove(10)   # this function will remove the specified value
print(lst)

[5, 20, 30, 40]

In [13]:
lst = [10,10,10,20,30,30,20,40,20,60]
lst.pop()
lst.remove(10)
lst.remove(20)
lst.remove(20)
print(lst)

[10, 10, 30, 30, 40, 20]

In [14]:
# Calculate lenght of the numbers present in list
# len() : function
print(len(lst))

6

In [17]:
# Concept of Indexing and Slicing on list
lst = [10,20,30,40,50,60]
print(lst[0::2])
print(lst[::-1])
print(lst[2])

[10, 30, 50]
[60, 50, 40, 30, 20, 10]
30

In [20]:
# Example 1

lst =[10,20,30,[40,50,60],[1,[2,[3,4,5,6],7],8,9],10]

In [21]:
# o/p : 5
lst[4][1][1][2]

5

In [22]:
# Example 2

lst = [10,20,[1,2,3,[10,20,[30,[40,50,[60],70],90],9,100],1000],2000,[10000]]

In [23]:
# o/p : 60
lst[2][3][2][1][2][0]

60

In [25]:
# Example 3
# o/p : 600

lst = [10,[100,200,300,[400,[500,[[[600],700],1],10],20]]]

lst[1][3][1][1][0][0][0]

600

In [2]:
# Example 4
# o/p : [800,900,1000]

lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]

lst[1][3][1][1][0][0][2:5]

[800, 900, 1000]

In [8]:
# Tuple Defination 

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [3]:
# tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [4]:
# Example
# o/p : 70,80
tup[3][2][2][1:]

(70, 80)

In [6]:
# Condition Statement
''' 
if condition==True
  perform operation inside the loop
  Else:
  Note := : Assignment Operater
        == : comparison operator 
        
'''

num = 10

if num == 10:
     print('The value is 10')
else:
     print('The value is Other than 10')

The value is 10

In [7]:
# Check the given string is palindrom or not

text = 'dad'
text1 = text[::-1]

if text == text1 :
    print('The given string is palindrom ')
else:
    print('The given string is Not palindrom')

The given string is palindrom

In [ ]:
''' 
if condition:
    statement
elif condition:
    statement
else:
    statement
'''

In [9]:
'''  
marks > 80 : Best Student
Marks between 60 to 79 : Good Student
Marks between 50 to 59 : Average Student
Marks< 49 : Poor Student

'''

marks = float (input('Enter Marks  of the Student:'))

if (marks > 80):
    print('Best Student')
elif (marks < 80 and marks > 60):
    print('Good Student')
elif (marks < 60 and marks > 50):
    print('Average Student')
else:
    print('Poor Student')

Good Student

In [13]:
'''  
balance = 10000
withdraw = amount 
threshould = 2000

'''
balance = 10000
withdraw = float(input("Enter amount to withdraw: "))
threshold = 2000

if withdraw >= balance:
    print('Insufficient Balance')
if withdraw <= balance:
    new_balance = balance - withdraw
    if new_balance >= 2000:
        print('New Balance is', new_balance)
    else :
        print('Check your transaction, Once Again')

Check your transaction, Once Again

In [15]:
# For loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [23]:
''' 
*
* * 
* * *
* * * * 
* * * * *
'''
for i in range(1,6):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [25]:
for i in range(1,6):
    print('* '*i*i)

*
* * * *
* * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [3]:
for i in range(1,6):
    print('* '*i**2)

*
* * * *
* * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [5]:
''' 
rang (Start,stop,step)
'''

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [6]:
# Using while loop

num = 5
count = 0
while count <=num:
    print(count)
    count = count + 1

0
1
2
3
4
5

In [7]:
# Using while loop

num = 5
i = 0
while i <=num:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [9]:
num = 10
count = 0
while count <= num:
    if count%2 == 0:
        print(count)
    count = count + 1

0
2
4
6
8
10

In [10]:
for i in range(0,20,2):
    pass
    print(i)

0
2
4
6
8
10
12
14
16
18

In [11]:
for i in range(0,20,2):
    continue
    print(i)

In [ ]:
for i in range(0,20,2):
    break
    print(i)

In [12]:
for i in range(0,15):
    if i<=5:
        print(i)
    pass

0
1
2
3
4
5

In [13]:
for i in range(0,15):
    if i<=5:
        print(i)
    continue

0
1
2
3
4
5

In [14]:
for i in range(0,15):
    if i<=5:
        print(i)
    break

0

In [18]:
for i in range(0,15):
    if i<=5:
        print(i)
    pass
    break

0

In [19]:
for i in range(0,15):
    if i<=5:
        print(i)
    break
    continue

0

In [20]:
for i in range(0,15):
    if i<=5:
        print(i)
    break
    pass

0

In [22]:
for i in range(0,10):
    for j in range(10,20):
        print(i)
        print(j)

0
10
0
11
0
12
0
13
0
14
0
15
0
16
0
17
0
18
0
19
1
10
1
11
1
12
1
13
1
14
1
15
1
16
1
17
1
18
1
19
2
10
2
11
2
12
2
13
2
14
2
15
2
16
2
17
2
18
2
19
3
10
3
11
3
12
3
13
3
14
3
15
3
16
3
17
3
18
3
19
4
10
4
11
4
12
4
13
4
14
4
15
4
16
4
17
4
18
4
19
5
10
5
11
5
12
5
13
5
14
5
15
5
16
5
17
5
18
5
19
6
10
6
11
6
12
6
13
6
14
6
15
6
16
6
17
6
18
6
19
7
10
7
11
7
12
7
13
7
14
7
15
7
16
7
17
7
18
7
19
8
10
8
11
8
12
8
13
8
14
8
15
8
16
8
17
8
18
8
19
9
10
9
11
9
12
9
13
9
14
9
15
9
16
9
17
9
18
9
19

In [1]:
''' 
num1
num2
choice = +,-,*,/

num1 =
num2 =
choice =

if choice == '+':
   addition
if choice == '-':
   substraction

else:
   check the entered choice

'''

num1 = float(input('Enter the num1: '))
num2 = float(input('Enter the num2: '))
choice = input('Select operator +,-,*,/: ')

if choice =='+':
   num3 = num1+num2
   print(f'Addition of {num1} and {num2}:',num3)

elif choice == '-':
   num3 = num1-num2
   print(f'Substraction of {num1} and {num2}:',num3)

else:
   print('Check the entered choice')

Check the entered choice

In [4]:
# for loop
list = []
for i in range(0,10):
    list.append(i*i)
    print(list)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# List Comprehnsion
# variable = [expression for count in range(x1,x2)]
square = [i*i for i in range(0,10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
odd = [i%2 == 1 for i in range(0,10)]
odd

[False, True, False, True, False, True, False, True, False, True]

In [12]:
square = [i**2 for i in range(0,10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
lst = ['Aniket','Parag','Ajay','Tanvi','Mihir','Nikhil']
new_list = [lst.upper() for lst in lst]
new_list

['ANIKET', 'PARAG', 'AJAY', 'TANVI', 'MIHIR', 'NIKHIL']

In [15]:
new_list = [lst.lower() for lst in lst]
new_list

['aniket', 'parag', 'ajay', 'tanvi', 'mihir', 'nikhil']

In [16]:
new_list = [len(lst) for lst in lst ]
new_list

[6, 5, 4, 5, 5, 6]

In [20]:
new_list = sum(len(lst) for lst in lst)
new_list

31

In [21]:
new_list = min(len(lst) for lst in lst)
new_list

4

In [22]:
new_list = max(len(lst) for lst in lst)
new_list

6

In [23]:
# logic: 0 2 4 6 8 :  sum : 20
n = sum([x for x in range(0,10) if x % 2 == 0])
n

20

In [27]:
# logic: 0 1 3 5 7 9 :  sum : 25
n = sum([x for x in range(0,10) if x % 2 != 0])
n

25

In [6]:
# 5! = 5*4*3*2*1* ---> 120
import math
math.factorial(5)

120

In [7]:
# Square root
print(5**0.5)
print(math.sqrt(5))

2.23606797749979
2.23606797749979

In [8]:
# Power function
math.pow(2,2)

4.0

In [9]:
math.pow(2,5)

32.0

In [10]:
math.pow(5,5)

3125.0

In [11]:
print(math.log10(5))

0.6989700043360189

In [1]:
# Recurssive function 
# 5! =5*4*3*2*1 = 120

def factorial(n):
    if n == 0 or n == 1:
        return 1 # base case
    else:
        return n * factorial(n-1)
factorial(5)

120

In [2]:
# Functions and Modules in Python Programming
# function is used for reusibility

import math
import os
import datetime

In [3]:
# define function

def sum():  # sum() function definition
    print('Hello World')

ans = sum() # sum() function calling and storing in variable ans

Hello World

In [4]:
def sum(num1,num2):
    num3 = num1 + num2
    print(num3)

ans = sum(100,200)

300

In [5]:
def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two numbers {num1} and {num2} is',num3)

ans = sum(100,200)

The addition of two numbers 100 and 200 is 300

In [6]:
num1=float(input('Enter the First number:'))
num2=float(input('Enter the Second number:'))

def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two numbers {num1} and {num2} is',num3)

def mul(num1,num2):
    num3 = num1 * num2
    print(f'The multiplication of two numbers {num1} and {num2} is',num3)

def sub(num1,num2):
    num3 = num1 - num2
    print(f'The substraction of two numbers {num1} and {num2} is',num3)

def div(num1,num2):
    num3 = num1 / num2
    print(f'The division of two numbers {num1} and {num2} is',num3)

def mod(num1,num2):
    num3 = num1 % num2
    print(f'The modulus of two numbers {num1} and {num2} is',num3)


addition = sum(num1,num2)
multiplication = mul(num1,num2)
substraction = sub(num1,num2)
division = div(num1,num2)
modulus = mod(num1,num2)

The addition of two numbers 10.0 and 2.0 is 12.0
The multiplication of two numbers 10.0 and 2.0 is 20.0
The substraction of two numbers 10.0 and 2.0 is 8.0
The division of two numbers 10.0 and 2.0 is 5.0
The modulus of two numbers 10.0 and 2.0 is 0.0

In [7]:
num1=float(input('Enter the First number:'))
num2=float(input('Enter the Second number:'))

def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two numbers {num1} and {num2} is',num3)
    return num3

def mul(num1,num2):
    num4 = num1 * num2
    print(f'The multiplication of two numbers {num1} and {num2} is',num4)
    return num4

def sub(num1,num2):
    num5 = num1 - num2
    print(f'The substraction of two numbers {num1} and {num2} is',num5)
    return num5

def div(num1,num2):
    num6 = num1 / num2
    print(f'The division of two numbers {num1} and {num2} is',num6)
    return num6

def mod(num1,num2):
    num7 = num1 % num2
    print(f'The modulus of two numbers {num1} and {num2} is',num7)
    return num7


addition = sum(num1,num2)
multiplication = mul(num1,num2)
substraction = sub(num1,num2)
division = div(num1,num2)
modulus = mod(num1,num2)

The addition of two numbers 10.0 and 2.0 is 12.0
The multiplication of two numbers 10.0 and 2.0 is 20.0
The substraction of two numbers 10.0 and 2.0 is 8.0
The division of two numbers 10.0 and 2.0 is 5.0
The modulus of two numbers 10.0 and 2.0 is 0.0

In [8]:
addition

12.0

In [9]:
substraction

8.0

In [10]:
multiplication

20.0

In [11]:
division

5.0

In [12]:
modulus

0.0

In [13]:
'''  
Palindrom:
mom = mom

'''

text = input('Enter the String: ')
text1 = text[::-1]

def pal(text):
    if text == text1:
        print('The given string is Palindrom.')
    else:
        print('The given string is not a Palindrom.')


pal(text)

The given string is not a Palindrom.

In [14]:
balance = 10000
withdraw = float(input("Enter amount to withdraw: "))
threshold = 2000

def trans(withdraw):
        if withdraw >= balance:
           print('Insufficient Balance')
        if withdraw <= balance:
            new_balance = balance - withdraw
            if new_balance >= 2000:
                 print('New Balance is', new_balance)
        else :
                     print('Check Your Transaction, Once Again')

trans(withdraw)

New Balance is 4000.0

In [15]:
''' 
CGPA >= 8 : Bright
CGPA between 6.9 to 7.9: Moderate Student
CGPA < 6.8 : Week Student

'''

' \nCGPA >= 8 : Bright\nCGPA between 6.9 to 7.9: Moderate Student\nCGPA < 6.8 : Week Student\n\n'

In [17]:
CGPA = float(input('Enter the CGPA Of Student: '))

def G(CGPA):
    if CGPA >= 8 :
        print('Bright Student')
    elif 6.9 <= CGPA <= 7.9:
        print('Moderate Student')
    else:
        print('Week Student')
G(CGPA)

Week Student

In [18]:
CGPA = float(input('Enter the CGPA Of Student: '))

def G(CGPA):
    if CGPA >= 8 :
        print('Bright Student')
    elif 6.9 <= CGPA <= 7.9:
        print('Moderate Student')
    else:
        print('Week Student')
G(CGPA)

Moderate Student

In [19]:
'''  
Palindrom:
mom = mom

'''

text = input('Enter the String: ')


def palindrom(text): # Defining Function
    text1 = text[::-1]
    if text == text1:
        print('The given string is Palindrom.')
    else:
        print('The given string is not a Palindrom.')


palindrom(text) # Calling a Function

The given string is not a Palindrom.

In [20]:
# OOP : Object Oriented Programming
lst = [1,2,3]
print(type(lst))

<class 'list'>

In [21]:
# OOP : Object Oriented Programming

class ClassName:
    i = 12345

x = ClassName()
x.i

12345

In [22]:
class Complex:   # ClassName : Complex
    def __init__(self,real,img):     # Constructor Method
        self.r = real                # Attribute
        self.i = img                 # Attribute

x = Complex(10,10)   # x is an object of class Complex
x.r   # Calling Attribute using Dot Operator with the help of Object x
x.i   # Calling Attribute using Dot Operator with the help of Object x
print(x.r,'+',x.i,'j')

10 + 10 j

In [23]:
class Addition:
    def __init__(self):
        self.num1 = 100
        self.num2 = 200

    def sum(self):
        num3 = self.num1 + self.num2
        return num3

a = Addition()
a.sum()  # Output: 300

300

In [ ]:
''' 
balance = 10000
withdraw = user
threshold = 2000

'''

In [1]:
class Bank:
    def __init__(self):
        self.balance = 10000
        self.threshold = 2000

    def trans(self):
        withdraw_amount = float(input('Enter the withdraw amount: '))
        if withdraw_amount > self.balance:
            print('Insufficient Balance')
        else:
            new_balance = self.balance - withdraw_amount
            if new_balance >= self.threshold:
                print('New Balance is', new_balance)
            else:
                print('Check Your Transaction, Once Again')

T = Bank()
T.trans()

New Balance is 4000.0

In [2]:
# Concept of INHERITANCE
# Parent class
class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
    
    def start(self):
        print(f"{self.brand} {self.model} is starting...")

    def stop(self):
        print(f"{self.brand} {self.model} is stopping...")

# Child class
class ElectricCar(Car):
    def __init__(self,brand,model,battery_capacity):
        super().__init__(brand,model) # Inherit barnd and model
        self.battery_capacity = battery_capacity

    def charge(self):
        print(f"{self.brand} {self.model} is carging with {self.battery_capacity} KWh battery.")

# Create an object of ElectricCar
tesla = ElectricCar("Tesla","Model S",10000)
tesla.start()
tesla.charge()
tesla.stop()

# Child class
class PetrolCar(Car):
    def __init__(self,brand,model,mileage):
        super().__init__(brand,model) # Inherit barnd and model
        self.mileage = mileage

    def Detail(self):
        print(f"{self.brand} {self.model} is mileage with {self.mileage} Km/l fuel .")

honda = PetrolCar("Honda","CRV",30)
honda.start()
honda.Detail()
honda.stop()

Tesla Model S is starting...
Tesla Model S is carging with 10000 KWh battery.
Tesla Model S is stopping...
Honda CRV is starting...
Honda CRV is mileage with 30 Km/l fuel .
Honda CRV is stopping...

In [1]:
class Institution:
    def __init__(self,first_name,last_name,age,sex,mobile_number):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.sex = sex
        self.mobile_number = mobile_number

    def details(self):
        print(f" Name: {self.first_name} {self.last_name}")
        print(f" Age: {self.age}")
        print(f" Sex: {self.sex}")
        print(f"Mobile number: {self.mobile_number}")

class students(Institution):
    def __init__(self, first_name, last_name, age, sex, mobile_number,Division):
        super().__init__(first_name, last_name, age, sex, mobile_number)
        self.Division = Division

class faculty(Institution):
    def __init__(self, first_name, last_name, age, sex, mobile_number,experience):
        super().__init__(first_name, last_name, age, sex, mobile_number)
        self.experience = experience

X = students('Swaru','Raje',16,'Male', 8934590901,'Sr.Data-Engineer')
Y = faculty('Mangal','Pande',21,'Male',7000980989,11)
X.details()
Y.details()

 Name: Swaru Raje
 Age: 16
 Sex: Male
Mobile number: 8934590901
 Name: Mangal Pande
 Age: 21
 Sex: Male
Mobile number: 7000980989

In [3]:
# Parent Class
class Car:
    # Function
    def start_engine(self):
        print("Starting engine...")


# Child Class
class ElectricCar(Car):
    def start_engine(self):
        print("Starting silent electric engine...")


# Child Class
class PetrolCar(Car):
    def Start_engine(self):
        print("Starting petrol engine with sound...")

In [4]:
object1 = Car()           # Object is defined with Parent Class
object2 = ElectricCar()   # Object is defined with Child Class
object3 = PetrolCar()     # Object is defined with Child Class

In [5]:
object1.start_engine()

Starting engine...

In [6]:
object2.start_engine()

Starting silent electric engine...

In [7]:
object3.start_engine()

Starting engine...

In [ ]:
# Defining parent Class: Bank_Account

class Bank_account:
    # Defining special method: Contructor function
    def __init__(self):
        # Definig attribute inside Contructor function 
        self.first_name = input("Enter the first_name")
        self.last_name = input("Enter the last_name")
        self.age = input("Enter the age")
        self.sex = input("Enter the sex")
        self.mobile_number = int(input("Enter the mobile_number"))
    
     # Definig method: details
    def details(self): 
        print(f"The First name is {self.first_name}")
        print(f"The Last name is {self.last_name}")
        print(f"The age is {self.age}")
        print(f"The Sex is {self.sex}")
        print(f"The Mobile No is {self.mobile_number}")

# Definig Child Class: Saving_account
class Saving_account(Bank_account):
    # Definig Method: intrest_rate
    def intrest_rate(self):
        return 5

  # Definig Child Class: Current_account  
class Current_account(Bank_account):
    # Definig Method: intrest_rate
    def intrest_rate(self):
        return 0

# Definig Child Class: Pension_account    
class Pension_account(Bank_account):
    # Definig Method: intrest_rate
    def intrest_rate(self):
        return 3

 # Definig Child Class: NRI_account   
class NRI_account(Bank_account):
    # Definig Method: intrest_rate
    def intrest_rate(self):
        return 1

# Definig Object
Nikhil = Saving_account()
Parag = Current_account()
Mihir = Pension_account()
Disha = NRI_account()
Tanvi = Saving_account()
Hemangi = Current_account()
Ajay = Pension_account()
Aniket = NRI_account()

In [2]:
Nikhil.details()
Nikhil.intrest_rate()

The First name is Nikhil
The Last name is asdef
The age is 27
The Sex is Male
The Mobile No is 9876543210

5

In [3]:
Parag.details()
Parag.intrest_rate()

The First name is Parag
The Last name is nbhgfgh
The age is 31
The Sex is Male
The Mobile No is 7865432109

0

In [4]:
Mihir.details()
Mihir.intrest_rate()

The First name is Mihir
The Last name is tytesdgty
The age is 24
The Sex is Male
The Mobile No is 7865094322

3

In [5]:
Disha.details()
Disha.intrest_rate()

The First name is Disha
The Last name is aswewd
The age is 22
The Sex is Female
The Mobile No is 7908564321

1

In [6]:
Tanvi.details()
Tanvi.intrest_rate()

The First name is Tanvi
The Last name is ryrheg
The age is 23
The Sex is Female
The Mobile No is 7089652431

5

In [7]:
Hemangi.details()
Hemangi.intrest_rate()

The First name is Hemangi
The Last name is khiytbjj
The age is 24
The Sex is Female
The Mobile No is 8890576413

0

In [8]:
Ajay.details()
Ajay.intrest_rate()

The First name is Ajay
The Last name is ewrtfg
The age is 24
The Sex is Male
The Mobile No is 9908475135

3

In [9]:
Aniket.details()
Aniket.intrest_rate()

The First name is Aniket
The Last name is Chaudhari
The age is 25
The Sex is Male
The Mobile No is 8967531494

1

In [10]:
# Defining parent class:Transactions
class Transaction:
    # Defining special method: Constructor function
    def __init__(self):
        # Defining attributes inside constructor function  
        self.Amount_debited = float(input('Enter the amount_debited'))
        self.Amount_credited = float(input('Enter the amount credited'))
        self.Amount_balance = 10000
        self.Account_no = int(input('Enter the account no.'))

    # Defining method: Acc_details
    def Acc_details(self):
        print(f'Enter the Account No: {self.Account_no}')
        print(f'Balance Amount {self.Amount_balance}')
        print(f'Enter the Debited Amount {self.Amount_debited}')
        print(f'Enter the Credied Amount {self.Amount_credited}')

# Defining Child Class:UPI
class UPI(Transaction):
    def Balance (self):
        if self.Amount_debited < self.Amount_balance:
            new_balance = self.Amount_credited + self.Amount_balance - self.Amount_debited     
            print(f"Account no {self.Account_no} having debited amount {self.Amount_debited}, amount credited {self.Amount_credited} So new balance = {new_balance}")
        else:
            print("Insufficient Balance")
        
        
# Defining Child Class:Googlepay
class Googlepay(Transaction):
    def Balance (self):
        if self.Amount_debited < self.Amount_balance:
            new_balance = self.Amount_credited + self.Amount_balance - self.Amount_debited     
            print(f"Account no {self.Account_no} having debited amount {self.Amount_debited}, amount credited {self.Amount_credited} So new balance = {new_balance}")
        else:
            print("Insufficient Balance")
    
# Defining Child Class:Amazonpay
class Amazonepay(Transaction):
    def Balance (self):
        if self.Amount_debited < self.Amount_balance:
            new_balance = self.Amount_credited + self.Amount_balance - self.Amount_debited     
            print(f"Account no {self.Account_no} having debited amount {self.Amount_debited}, amount credited {self.Amount_credited} So new balance = {new_balance}")
        else:
            print("Insufficient Balance")

# Defining Child Class:Phonepay
class phonepay(Transaction):
    def Balance (self):
        if self.Amount_debited < self.Amount_balance:
            new_balance = self.Amount_credited + self.Amount_balance - self.Amount_debited     
            print(f"Account no {self.Account_no} having debited amount {self.Amount_debited}, amount credited {self.Amount_credited} So new balance = {new_balance}")
        else:
            print("Insufficient Balance")

# Defining Obiject
A = UPI()
B = Googlepay()
C = Amazonepay()
D = phonepay()

In [11]:
A.Balance()
B.Balance()
C.Balance()
D.Balance()

Account no 1234556 having debited amount 2000.0, amount credited 1000.0 So new balance = 9000.0
Account no 8765 having debited amount 5000.0, amount credited 3000.0 So new balance = 8000.0
Account no 98324 having debited amount 8000.0, amount credited 5000.0 So new balance = 7000.0
Account no 45675634 having debited amount 6000.0, amount credited 1000.0 So new balance = 5000.0

In [1]:
# 1D Array
arr = [1,2,3,4,5]
print(type(arr))

<class 'list'>

In [2]:
arr.append(6)

In [3]:
# 2D array

arr1 = [[1,2,3,],[4,5,6]]
arr1 = np.array(arr1)
print(arr1.ndim)
print(arr1.shape)
print(arr1)

NameError: name 'np' is not defined

In [4]:
# 3D Array

arr2 = [[[1,2,3],[4,5,6]]]
arr2 =np.array(arr2)
print(arr2.ndim)
print(arr2.shape)
print(arr2)

NameError: name 'np' is not defined

In [ ]:
 = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,20,30],[40,50,60],[70,80,90]])

c = a+b
print(c)

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,20,30],[40,50,60],[70,80,90]])

c = a*b
print(c)

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,20,30],[40,50,60],[70,80,90]])

c = a/b
print(c)

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,20,30],[40,50,60],[70,80,90]])
c = np.eye(3)

d = a+c
print(d)

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,20,30],[40,50,60],[70,80,90]])
c = np.eye(3)
d = np.zeros(3)
e = np.ones(3)

z = a + e
print(z)